body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.containerFirstLogoNav {
  background: linear-gradient(to left, rgba(255, 192, 23, 10) 50%, rgba(235, 193, 51, 1) 50%);
}
.containerLogoNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebc133;
  padding: 12px;
}
.imgLogo {
  width: 50%;
}
.imgLogo img {
  width: 7vw;
}

.ulNav {
  display: flex;
  font-weight: 500;
  list-style-type: none;
  align-items: center;
  font-size: 0.7rem;
}
.ulNav li {
  margin-right: 40px;
}
.ulNav li:nth-last-of-type(1) {
  background-color: black;
  padding: 10px 20px;
  border-radius: 90px;
  color: white;
}

.title {
  width: 100%;
  padding: 40px;
  margin-left: 80px;
}
.containerSvgM .title h1 {
  margin-bottom: 15px;
}
.containerSvgM .title p {
  margin-bottom: 15px;
}
.containerSvgM .title button {
  margin-top: 15px;
  background-color: #181919;
  color: white;
  border-radius: 20px;
  padding: 6px 40px;
  border: none;
}
.title h1 {
  font-size: 8rem;
  font-weight: 500;
  font-family: "Spectral", serif;
}
.title p {
  font-size: 2rem;
  color: #363127;
  font-family: "Spectral", serif;
}
.title button {
  font-size: 1rem;
}

.containerSvgM {
  display: flex;
  background-color: #ebc133;
  width: 100%;
  height: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.37);
}

.spaceTitle {
  width: 80%;
}
.mSvg {
  width: 25%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}
.subMain {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.firstContainer {
  border-bottom: 1px solid #e6e7e7;
  width: 80%;
}
.borderBottom {
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #e6e7e7;
}

.insideFirstContainer {
  padding: 20px;
}

.secondContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.trending {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.trending img {
  margin-right: 15px;
}

.manDiv {
  display: flex;
  width: 30%;
  margin: 10px;
}
.firstDiv p {
  font-size: 2rem;
  color: #e6e7e7;
  font-weight: bold;
}

.secondDiv p {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 500;
}
.secondDiv p:nth-of-type(1) {
  align-items: center;
}
.secondDiv p:nth-of-type(2) {
  font-weight: 700;
  font-size: 1.2rem;
}
.secondDiv p:nth-of-type(3) {
  color: #74767c;
}
.secondDiv p img {
  width: 9%; /* Imposta una dimensione fissa per l'immagine */
  height: auto; /* Mantiene il rapporto di aspetto originale */
  margin-right: 10px;
}
.secondDiv span {
  color: gray;
}
.firstImg {
  border-radius: 30px;
}
.bordImg {
  border-radius: 8px;
}
.secondDiv p img.star {
  width: 9% !important;
  height: auto;
}

.subContInfoImg {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.nameInfo {
  flex: 0.8;
  padding: 15px;
}

.firstP {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}

.nameInfo p:first-child img {
  border-radius: 15px;
  margin-right: 10px;
  width: 30px;
  height: auto;
}

.nameInfo p:nth-child(2) {
  font-weight: bold;
  font-size: 1.6rem;
  color: #292929;
  margin-top: 5px;
}

.nameInfo p:nth-child(3) {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #757575;
}

.nameInfo > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.subContInfoImg .nameInfo > div:last-child {
  color: #757575;
}
.nameInfo button {
  border-radius: 15px;
  background-color: #f2f3f3;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #757575;
}

.nameInfo img {
  width: 20px;
  height: auto;
}

.InfoNameImg {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfoNameImg img {
  width: 250px;
  height: auto;
}
.containerPrinc {
  display: flex;
  justify-content: center;
  padding: 3% 10%;
}
.footer {
  width: 90%;
}
.subFooter {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.containerBtn {
  margin-bottom: 40px;
}
.descriptionBtn {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #292929;
}
.btnFinal button {
  padding: 15px 25px;
  color: #808080;
  margin: 3px;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-weight: 600;
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style-type: none;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  font-weight: 600;
}

.link li {
  padding: 9px;
}
.link li a {
  color: #808080;
  text-decoration: none;
}
